.main-body::after {
  background-image: url("/static/images/tech tower.jpg");
}

.about-me-text {
  text-indent: 4ch;
  line-height: 2;
  font-size: 1.2em;
}

.about-me-pic {
  width: 10em;
  border-radius: 0.5em;
}


#gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#gallery-container > img {
  width: 40%;
  margin: 30px;
  object-fit: contain;
  border-radius: 0.5em;
}

#badge-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#badge-container>.LI-profile-badge .LI-badge-container.horizontal.light {
  background-color: #fff;
  border-radius: 0.5em;
}
#badge-container > * {
  margin: 2em;
}
.company-logo {
  width: 6.25em;
  height: 6.25em;
}

.content-block#resume .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#resume-view {
  width: 720px;
  height: 1145px;
  overflow: hidden;
  border-radius: 1.5em;
}
