.nav-bar {
  overflow: hidden;
  background-color: #000;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50px;
  z-index: 5;
}

.nav-bar .logo {
  display: inline-block;
  height: 40px;
  padding: 5px 14px;
}

/* Style the links inside the navigation bar */
.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  /* font-size: 17px; */
}

.nav-bar a.menu {
  display: none;
}

/* Change the color of links on hover */
.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}
.nav-bar a.active:hover {
  background-color: #72c475;
}

.nav-bar .logo {
  filter: invert(1);
  /* padding-top: 2px;
  height: 44px; */
}
.nav-bar .logo:hover{
  background-color: #ddd;
  filter: invert(0);
}

@media screen and (max-width: 700px) {
  .nav-bar {
    justify-content: space-between;
  }
  .nav-bar *:not(:first-child) {
    display: none;
  }
  .nav-bar a.menu {
    display: initial;
  }

  .nav-bar.responsive {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-bar.responsive .logo {
    padding-top: 5px;
  }
  .nav-bar.responsive a:not(:last-child) {
    display: initial;
    width: inherit;
    text-align: left;
  }
  .nav-bar.responsive a.menu {
    position: absolute;
    right: 0;
    top: 0;
  }
}
