{% set styles = [
    "static/styles/title_block.css"
 ] %}
{% for style in styles %}
 <link rel="stylesheet" type="text/css" href={{ style }}>
{% endfor %}
<div class="title_block" id="top">
  <img id="title_bkgd_img" src="{{ title_image|e }}" alt="blurred title image"/>
  <div class="title_block_inner">
    <img id="title_image" src="{{ title_image|e }}" alt="title image"/>
    <div class="title_content">
      <h1 class="title_content_item">
        <center id="title">{{ self.title() }}</center>
      </h1>
      {% if title_links is defined %}
        <div class="title_content_item" id="quick_links">
          {% for link in title_links %}
            <button type="button" name="button" class="title_button">{{link}}</button>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% set scripts = [
    "static/scripts/title_block.js"
  ] %}
{% for script in scripts %}
  <script charset="utf-8" type="text/javascript" src={{ script }} defer></script>
{% endfor %}
