{% set styles = [
    "static/styles/title-block.css"
  ] %}
{% if title_image is not defined %}
  {% set title_image = "static/images/blank.png" %}
{% endif %}
{% for style in styles %}
  <link rel="stylesheet" type="text/css" href={{ style }}>
{% endfor %}
<div class="title-block" id="top">
  <img id="title-bkgd-img" src="{{ title_image|e }}" alt="blurred title image"/>
  <div class="title-block-inner">
    <img id="title-image" src="{{ title_image|e }}" alt="title image"/>
    <div class="title-content">
      <h1 class="title-content-item">
        <center id="title" class="{{title_class}}">{{ title }}</center>
      </h1>
      {% if title_links is defined %}
        <div class="title-content-item" id="quick-links">
          {% for link in title_links %}
            <button type="button" name="button" class="title-button">{{link}}</button>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% set scripts = [
    "static/scripts/title-block.js"
  ] %}
{% for script in scripts %}
  <script charset="utf-8" type="text/javascript" src={{ script }} defer></script>
{% endfor %}
